/* GENERAL CSS */

body {
	background: #F0FFFF;
}


/* DROP & DRAG SPECIFIC CSS */

.Presentation {
	font-family: 'Myriad-Pro', 'Myriad', helvetica, arial, sans-serif;
	font-size: 15px;
	padding: 3px;
	background:#82CAFF;
	border-radius:5px;
	text-align: center;
	margin:1px 1px 1px 1px;
}

.GroupWork {
	font-family: 'Myriad-Pro', 'Myriad', helvetica, arial, sans-serif;
	font-size: 15px;
	padding: 3px;
	background:#C3FDB8;
	border-radius:5px;
	text-align: center;
	margin:1px 1px 1px 1px;
}

.Break {
	font-family: 'Myriad-Pro', 'Myriad', helvetica, arial, sans-serif;
	font-size: 15px;
	padding: 3px;
	background:#F75D59;
	border-radius:5px;
	text-align: center;
	margin:1px 1px 1px 1px;
}

.Discussion {
	font-family: 'Myriad-Pro', 'Myriad', helvetica, arial, sans-serif;
	font-size: 15px;
	padding: 3px;
	background:#FFFFC2;
	border-radius:5px;
	text-align: center;
	margin:1px 1px 1px 1px;
}

.droparea{
	height:200px;
	width:180px;
	background:#ffffff;
	border-radius:5px;
	margin-left: 5px;
	border:2px solid #ADDFFF;
	float:left;
}

.statbar {
	height:80px;
	width:60px;
}

#div1 {
	height:500px;
	margin-left: 20px;
}

#dDView{
	margin-bottom: 10px;
}


/* MAKE NEW ACTICITY SPECIFIC CSS */

#makeActivityView {
	width:500px;
}

input, #typeList{
	width:380px;
	height:40px;
	background:#efefef;
	border-radius:5px;
	border:1px solid #dedede;
	padding:10px;
	margin:3px 0px 10px 20px;
	font-size:0.9em;
}

#typeList {
	width:402px;
}

#descField {
	width:380px;
	height:90px;
	background:#efefef;
	border-radius:5px;
	border:1px solid #dedede;
	padding:10px;
	margin-bottom: 10px;
	margin-top:3px;
	font-size:0.9em;
}


/* BUTTONS */

.navBtn{
	font-family: 'Myriad-Pro', 'Myriad', helvetica, arial, sans-serif;
	font-size: 15px;
	letter-spacing: -1px;
	font-weight: bold;
	text-align: center;
	width:200px;
	height:30px;
	background-color: #659EC7;
	margin-bottom: 15px;
	border-radius:5px;
}

#saveBtn {
	background-color: green;
}

#cancelBtn {
	margin-left: 10px;
	background-color: red;
}

#mAView{
	margin-left: 20px;
}

#cancelBtn {
	margin-left: 20px;
	background-color: red;
}


/* HEADER AND TEXT */

.textObj{
    color: #659EC7;
    font-size: 30px;
    font-family: 'Myriad-Pro', 'Myriad', helvetica, arial, sans-serif;
    letter-spacing: -3px;
    -webkit-margin-before: 5px;
	-webkit-margin-after: 5px;
	margin-left: 20px;
}

#headerTxt {
	text-shadow: 2px 3px 3px #292929;
    font-size: 80px;
    margin-left: 10px;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
}
